@media(max-width: 767px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px;
    flex-direction: column;
  }

  .container {
    padding: 10px;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  header{
    padding: 15px;
    flex-direction: column;
  }

  .container {
    padding: 15px;
  }
}

@media(min-width: 1024px) {
  body {
    font-size: 18px;
  }

  header {
    padding: 20px;
    flex-direction: row;
  }

  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

html, body {
  overflow: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e4e4e4;
}

.profile-picture {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

section.background {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  border-top-left-radius:  50px;
  border-top-right-radius:  50px;
  background-color: #f4f4f4;
  padding: 50px;
  text-align: center;
}

section.foreground {
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f4f4f4;
  padding: 50px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #333;
  cursor:pointer;
  font-size: 24px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon{
    width: 60px;
    height: 60px;
    background-color: #000000;
    color: white;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight:  initial;
    margin-right: 15px;
}

h1.name{
    font-weight: normal;
    font-size: 24px;
}